body {
  font-family: 'PT Serif', serif;

  background-color: black;
  height: 100%;
}
a {
  text-decoration: none;
}
#myVideo {
  position: fixed;
  z-index: -2;
  height: auto;
}
.dotsLoadingHome {
  position: absolute;
  top: 60px;
  margin-top: 5px;
  left: 95px;
}
.loadingHome span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 10px;
  background: #800000;
  border-radius: 10em;
  animation: loading 1s infinite alternate;
}
.loadingHome span:nth-of-type(2) {
  background: #303841;
  animation-delay: 0.2s;
}
.loadingHome span:nth-of-type(3) {
  background: #616264;
  animation-delay: 0.4s;
}
.loadingWrapper {
  position: relative;
  background-image: url(../assets/images/speech-bubble.png);
  filter: drop-shadow(14px 10px 7px rgba(0, 0, 0, 0.468));
  opacity: 0.9;
  background-size: 300px 150px;
  background-position: top;

  background-repeat: no-repeat;
  text-align: center;
  color: whitesmoke;
  font-style: italic;
  width: 300px;
  height: 200px;
}
.loadingWrapperWine {
  position: relative;
  background-image: url(../assets/images/speech-bubble.png);
  filter: drop-shadow(14px 10px 7px rgba(0, 0, 0, 0.468));
  opacity: 0.8;
  background-size: 250px 150px;
  background-position: top;

  background-repeat: no-repeat;
  text-align: center;
  color: whitesmoke;
  font-style: italic;
  width: 300px;
  height: 200px;
}
.loadingText {
  position: absolute;
  top: 37px;
  left: 50px;
  color: black;
}
.colLogoHome {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginTitleHome {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(163, 180, 158, 0.632);
}
.logoTitleHome {
  padding: 15px;
  color: #800;
  font-size: 36px;
  font-weight: bold;

  letter-spacing: 0.1em;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #800;
  z-index: 1;
  /* background-image: url('winery.jpg'); */
}
.columns {
  justify-content: center;
  align-items: center;
}
.circle-styling {
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  background-color: rgba(232, 242, 242, 0.488);
  border-radius: 50%;
  border: white 2px solid;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.middle {
  position: relative;
  bottom: 53%;
  font-size: 22px;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50%;

  opacity: 0;
  background-color: #30384189;
  padding: 5px;
  color: white;
}

.circle-styling:hover + .middle {
  opacity: 1;
  z-index: 3;
}
.circle-styling-meal {
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  background-color: rgba(232, 242, 242, 0.488);
  border-radius: 50%;
  border: white 2px solid;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.middleMeal {
  position: relative;
  bottom: 53%;
  left: 5%;
  font-size: 22px;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50%;
  opacity: 0;
  text-align: center;
  background-color: #3038419a;
  padding: 5px;
  color: white;
}

.circle-styling-meal:hover + .middleMeal {
  opacity: 1;
}
.circle-styling-list {
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  background-color: rgba(232, 242, 242, 0.488);
  border-radius: 50%;
  border: white 2px solid;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  z-index: 300;
}
.middleList {
  position: relative;
  bottom: 53%;
  left: 10%;
  font-size: 22px;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50%;
  opacity: 0;
  text-align: center;
  background-color: #3038419a;
  padding: 5px;
  color: white;
}
.circle-styling-list:hover + .middleList {
  opacity: 1;
}
#wine-list-circle {
  background-image: url('https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
}
#taste-profiler-circle {
  background-image: url('https://jooinn.com/images/pouring-wine-5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
}
#taste-profiler-circle:hover {
  background-color: beige;
}
#create-circle {
  background-image: url('https://www.seriouseats.com/thmb/lJ4wi4lMW09QRXBvpxjbR52oJFc=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__2020__12__20201203-indonesian-pantry-vicky-wasik-1-b827da1c26134cf18153da281f8efb19.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
}
.linkTest {
  background-color: black;
}
.home-main-row {
  display: flex;
  flex-direction: row;
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #myViedo {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 738px) {
  .circle-styling-list,
  .circle-styling,
  .circle-styling-meal {
    opacity: 1;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    background-color: rgba(232, 242, 242, 0.488);
    border-radius: 50%;
    border: white 2px solid;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .logoTitleHome {
    padding-top: 20px;
    color: #800;
    font-size: 24px;
    letter-spacing: 0.1em;
  }
}
