.wineListMain {
  background-image: url('https://res.cloudinary.com/dii3cculv/image/upload/v1631645839/wall1_mt4uoz.jpg');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90.5vh;
  align-items: center;
  overflow-y: hidden;
  /* overflow: hidden;
  overflow-x: hidden;
 
  /* padding-bottom: 70px; */
}
.nav-position {
  position: sticky;
  /* top: 0px; */
  z-index: 1;
  /* margin-top: 80px; */
}
