/* ------------------STYLING FOR MEAL MAIN----------------*/
.mealMainDiv {
  background-color: #800000;
  height: 90vh;
  color: #303841;
  overflow: hidden;
  overflow-x: hidden;
}
.mealMainRightCol {
  padding-top: 30px;

  padding-right: 30px;
  padding-left: 30px;
}
/* ------------------STYLING FOR LEFT NAV----------------*/

.navMainDiv {
  flex-direction: column;
  margin-left: 10px;
}
.instructions {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 10px;
  background-color: #d3d6db;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #303841;
  text-align: left;
  background-color: #d3d6db;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: '';
  background-image: url('https://image.flaticon.com/icons/png/512/748/748113.png');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
  background-image: url('https://img.icons8.com/material/24/ffffff/minus--v2.png');
}
.accordion-button:focus {
  z-index: 3;
  border-color: black;
  box-shadow: none !important;
}
button:focus:not(:focus-visible) {
  outline: none;
}

.accordion-button:not(.collapsed) {
  color: #d3d6db;
  background-color: #3a4750;
  /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
}
.iconSize {
  height: 60px;
  transition: 0.5s ease;
}
.iconsWrapper {
  display: inline-block;
  position: relative;
  margin-top: 30px;

  margin-left: 30px;
}
.middle {
  opacity: 0;
  position: absolute;
  top: -30px;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-style: italic;
}
.iconsWrapper:hover .iconSize {
  opacity: 0.3;
}
.iconsWrapper:hover .middle {
  opacity: 1;
}
.fadeOut {
  -webkit-animation: slide-out-tr 1s cubic-bezier(0.6, -0.28, 0.735, 0.045)
    forwards;
  animation: slide-out-tr 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}
@keyframes slide-out-tr {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    /* -webkit-transform: translateY(500px) translateX(1500px); */
    transform: translateY(-60px) translateX(150px);
    opacity: 0;
  }
}
/* ------------------STYLING FOR MAIN PLATE----------------*/

.plateMainDiv {
  background-color: #d3d6db;
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
  min-height: 220px;
}
.entranceList {
  -webkit-animation: bounce-in-top 1.5s ease-in-out both;
  animation: bounce-in-top 1.5s ease-in-out both;
  padding: 10px;
}
.choiceColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listColumn {
  padding-left: 60px;
}
.plateTitle {
  padding-top: 70px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: large;
}

*p {
  margin-bottom: 0px !important;
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    font-size: 20px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    font-size: 14px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
