.detail-main-comp {
  display: flex;
  background-color: black;
  height: 100vh;
}
.cont-main {
  border: 50px solid transparent;
  border-radius: 10px;
  border-image: url(./wine.png) 60 round;
  display: flex;
  height: 80vh;
  width: 80vw;
  align-self: center;
  justify-content: center;
  background-color: #d3d6db;
}
.cornerSignDetail {
  position: absolute;
  display: flex;
  transform: rotate(-45deg);
  top: -15px;
  left: -70px;
  width: 200px;
  height: 100px;
  z-index: 5;
  text-align: center;
  align-items: flex-end;
  padding-left: 60px;
  padding-bottom: 10px;

  background-color: #d3d6db;

  color: #303841;
  font-size: 20px;
  cursor: pointer;
  /* writing-mode: vertical-lr; */
}
.bookmarkDetail {
  position: relative;
  font-size: 86px;
  color: #303841;
  fill: #d3d6db;
  stroke-width: 0.5px;
}
.saveDetailed {
  position: absolute;
  color: #303841;
  top: 20px;
  left: 24px;
  z-index: 1;
}
.bookmarkWrapper {
  position: absolute;
  top: 55px;
  right: 200px;
}
.checkedIcon {
  font-size: 36px;
}
.narrow {
  position: absolute;
  bottom: 40px;
  left: 80px;
  font-size: 26px;
}
.img-styling {
  height: auto;

  max-height: 70vh;
  padding-bottom: 10px;
}
.col-left {
  width: 20%;
}

.full-name-wrapper {
  color: brown;

  font-weight: bold;
  font-size: 1.5rem;
}
.winery {
  font-style: italic;
}
.winery-icon {
  color: brown;
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 4px;
}
.grape-wrapper {
  margin-top: 20px;
}
.icon1 {
  font-size: 40px;
  color: brown;
  stroke-width: 10px;
  padding-bottom: 5px;
}
.details-column {
  margin-left: 2rem;
}
.right-el {
  float: right;
  margin-right: 15rem;
}
.description-wrapper {
  font-weight: bold;
}

.map-styling {
  box-shadow: #303841;
  /* border-radius: 50px; */
}
.map-wrapper {
  position: absolute;
  right: 40%;
  overflow: hidden;
}
.map-wrapper:after {
  content: '';
  position: absolute;
  /* border-bottom-left-radius: 30px;
  border: 3px solid black; */
  height: 20px;
  bottom: 0px;
  left: 0;
  right: 0;
  transform: rotate(0deg);

  background: #d3d6db;
}
