.mainShelf {
  position: relative;
  background-image: url('https://res.cloudinary.com/dii3cculv/image/upload/v1631647694/shelfnew_geb3vc.jpg');
  background-size: cover;

  color: white;
  transition: all ease-in-out;
}
.mainSingleShelf {
  background-image: url('https://res.cloudinary.com/dii3cculv/image/upload/v1631648077/single_nnc2rk.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  animation: swing-in-top-fwd 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.bottle {
  display: flex;
  height: 210px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  filter: drop-shadow(8px 8px 7px rgba(0, 0, 0, 0.468));
}
.fade-in-right {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation-delay: 1s;
}
.fade-in-right1 {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation-delay: 2s;
}

.fade-in-right2 {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation-delay: 3s;
}
.fade-in-right3 {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation-delay: 4s;
}
.fade-in-right4 {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: fade-in-right 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation-delay: 5s;
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.scroll {
  position: absolute;
  top: 50px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.overlayText {
  background-color: rgba(31, 29, 29, 0.249);
  max-width: 100px;
  height: 200px;
  display: block;
  overflow: hidden;

  text-overflow: ellipsis;
  color: white;
}
.noContent {
  margin-top: 80px;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  color: #b9b6be;
  text-align: center;
  background-color: rgba(157, 161, 164, 0.084);
}
