.rotateContainer {
  display: flexbox;
}

.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 362px;
  height: 272px;
  margin: 0 auto;
  /* margin-top: 200px; */
}

.slideRotate {
  width: 320px;

  height: 272px;
  transition: all 1s ease-in-out;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;

  position: absolute;
  top: 0;

  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
}

/* 3d reflection effect */
.slideRotate::after {
  content: '';
  position: absolute;
  width: 45%;
  height: 39px;
  bottom: -150px;
  border-radius: 15px;
  background: linear-gradient(to bottom, rgba(49, 26, 19, 0.735), transparent);
}

.slideRotate {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.img-height {
  height: 500px;
  filter: drop-shadow(14px 10px 7px rgba(0, 0, 0, 0.468));
  cursor: pointer;
}

.btn-next {
  font-size: 80px;

  position: absolute;

  top: 50%;
  right: 0px;
  cursor: pointer;
}
.btn-prev {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 0px;
  cursor: pointer;
}
.slide-in-right {
  -webkit-animation: slide-in-right 1s ease-in-out forwards;
  animation: slide-in-right 1s ease-in-out forwards;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 1184px) {
  .btn-next {
    position: absolute;

    top: 15%;
    right: 0px;
  }
  .btn-prev {
    position: absolute;

    top: 15%;
    left: 0px;
  }
}
@media (max-width: 572px) {
  .img-height {
    height: 400px;
  }
  .slideRotate {
    width: 90px;

    height: 150px;
    transition: all 1s ease-in-out;
    transition: transform 500ms ease 0s, opacity 500ms ease 0s,
      visibility 500ms ease 0s;

    position: absolute;
    top: 0;

    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
  }
  .slideC {
    position: relative;
    perspective: 400px;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* margin-top: 200px; */
  }
  .slideRotate::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 29px;
    bottom: -157px;
    border-radius: 15px;
    background: linear-gradient(
      to bottom,
      rgba(49, 26, 19, 0.735),
      transparent
    );
  }
}
