#newsCarousel {
  position: relative;
  /* top: 50px; */
}
.getNewsButton {
  background-color: #3a4750;
  border: none;
  color: #d3d6db;
  padding: 10px;
  border-radius: 10px;
  transition: transform 1s ease-in-out;
  width: 100px;
  margin-left: 70px;
  margin-bottom: 5px;
}
.getNewsButton:hover {
  transform: scale(1.1);
  box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}
.cardNews {
  box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
  border-radius: 40px;
  transition: transform 0.8s ease-in;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
.cardNews:hover {
  transform: scale(0.9);
}
.cardNewsImg {
  padding: 10px;
  border-radius: 20px;
}

.carousel-indicators {
  position: absolute;
  right: 0;

  bottom: -30px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 20;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 50px;
  height: 5px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(18, 16, 16);
  background-clip: padding-box;
  border: 0;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.carousel-control-prev {
  position: absolute;
  top: 0;
  left: -25px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: rgb(14, 13, 13);
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
}
.carousel-control-prev-icon {
  background-image: url('https://res.cloudinary.com/dii3cculv/image/upload/v1631648636/angle_zfmdop.png');
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 40px;
  /* background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%; */
}
.carousel-control-next {
  position: absolute;
  top: 0;
  right: -25px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: rgb(14, 13, 13);
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
}
.carousel-control-next-icon {
  background-image: url('https://res.cloudinary.com/dii3cculv/image/upload/v1631648682/arrow-right_i6lhsv.png');
}
